.footer {
  display: flex;
  justify-content: center;
}

.footer__menu{
  padding: 0;
  width: 80%;
  display: flex;
  justify-content: space-around;

  @media (min-width: 768px) {
    width: 40%;
  }
  @media (min-width: 1024px) {
    width: 20%;
  }

  a{
    color: #757575;
    font-weight: 400;
  }
  a:hover {
    color: black;
  }
  li {
    cursor: pointer;
    display: inline-block;
    transition: 1s;
  }
}
