.footer {
  display: flex;
  justify-content: center;
}

.footer__menu{
  a{
    color: #757575;
    font-weight: 400;
  }
  a:hover {
    color: black;
  }
  li {
    cursor: pointer;
    display: inline-block;
    padding: 15px 20px;
    transition: 1s;
  }
}
