.activiti__cont__item {
  background-color: white;
  border-radius: 2px;
  box-shadow: 1px 1px 10px #00000042;
  margin: 2%;
  width: 35%;
  padding: 20px 20px;
  a{
    float: right;
  }
  a:hover {
    text-decoration: line-through;
  }
  p{
    float: left;
  }
  span{
    font-weight: 500;
  }
}
