.banner {
  background-image: url('../img/bakground2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  margin-top: 68px;
}

.banner__name {
  margin: 15% 0;
}
