.banner {
  display: flex;
  justify-content: center;
  padding-top: 68px;
  overflow: hidden;
}

.computer {
  width: 60%;
  height: 200px;
  position: relative;
  bottom: -20px;
  background-color: $black;
  border-radius: 5px;
  box-shadow: 0px -4px 50px $white;

  @media (min-width: 600px) {
    border-radius: 10px;
    height: 250px;
  }
  @media (min-width: 800px) {
    border-radius: 15px;
    height: 300px;
  }
  @media (min-width: 1024px) {
    border-radius: 20px;
    height: 350px;
  }
  @media (min-width: 1200px) {
    border-radius: 20px;
    height: 400px;
  }
}

.screen {
  background-color: $white;
  width: 95%;
  margin: 0 auto;
  margin-top: 2.5%;
  height: 100%;

  @media (max-width: $breakpoint-md){
    background-color: white;
    width: 95%;
    margin: 0 auto;
    margin-top: 2.5%;
    height: 100%;
  }
}

.computer-header {
  background-color: $light-gray;
  height: 6%;
  width: 100%; 
  
  @media (max-width: $breakpoint-md){
    background-color: #EEE;
    height: 5%;
    width: 100%;
  }
}

.computer-btn {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 5px;
  background-color: $black;
  float: left;

  @media (max-width: $breakpoint-md){
    width: 10px;
    height: 10px;
    margin: 2px;
  }
}

.btn-red {
  background-color: red;
}

.btn-yellow {
  background-color: yellow;
}

.btn-green {
  background-color: green;
}

// typing effect
.myName {
  margin-top: 20%;
  text-align: center;
}

.web-developer {
  display: none;
  margin-top: 2%;
  text-align: center;
  font-size: 16px;
}
