//sizes breakpoints
$breakpoint-xs: 0px;
$breakpoint-sm: 320px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1200px;

//colors
$white: #fff;
$black: #000;
$background-gray: #F5F5F5;
$light-gray: #EEEEEE;

$shadow-color: #00000042;

//fonts
$primary-font: 'Open Sans', sans-serif;

