@media (max-width: $breakpoint-md){
  .about-me__cont {
    display: block;
  }
  .about-me__cont__photo {
    float: none;
    margin: 5% auto;
    max-width: 50%;
    img {
      border-radius: 50%;
      width: 100%;
    }
    .about-me__photo{
      float: none;
      margin: 0 auto;
      margin-right: 0;
      max-width: 100%;
      position: relative;
    }
  }

  .about-me__photo__links {
    height: 99%;
    a{
      margin-top: 0;
      margin: 10px;
      transition: 0.5s;
    }
    .icon {
      width: 60px;
    }
  }

  .about-me__photo:hover {
    a{
      margin: 10px 60%;
      transition: 0.5s;
    }
  }

  .about-me__info {
    float: none;
    margin: 0 auto;
    margin-top: 5%;
    width: 80%;
    h3 {
      margin-top: 10%;
    }
    p {
      margin-bottom: 10%;
    }
  }

  .activiti__cont__item {
    float: none;
    margin-bottom: 1%;
    width: 80%;
  }

  .banner__name {
    margin: 30% 0;
  }

  .btn_submit {
    height: auto;
    max-width: 100%;
    width: 100%;
  }

  .hamburguer{
    display: block;
    position: fixed;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 10%;
    z-index: 4;
  }

  .cont__menu {
    background-color: black;
    height: 100%;
    left: -100%;
    position: fixed;
    transition: 0.5s;
    width: 100%;
    z-index: 1;
  }
  .cont__menu.show {
      left: 0;
  }

  form{
    padding: 2% 5%;
    width: 100%;
  }

  .portfolio__projects{
    margin: 2% 7.5% 6% 7.5%;
    width: 90%;
  }

  .portfolio__projects--hidden {
    width: 100%;
    transition: 1s;
  }

  .hamburguer-btn {
    display: block;
  }

  .header {
    display: flex;
    justify-content: start;
    height: 67px;
  }

  .header__menu {
    margin-top: 15%;

    a{
      color: rgb(187, 187, 187);
      font-size: 35px;
    }

    a:active {
      color: white;
      transition: 0.5s;
    }

    a:hover {
      color: white;
    }
    li {
      box-sizing: border-box;
      padding: 40px 24px;
      text-align: center;
      transition: 0.5s;
      width: 100%;
    }
    li:hover {
      padding:40px 20px;
      border-bottom: none;
    }
  }

  .computer {
    width: 80%;
    height: 200px;
    position: relative;
    bottom: -20px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0px -4px 50px #fff;
  }

  .screen {
    background-color: white;
    width: 95%;
    margin: 0 auto;
    margin-top: 2.5%;
    height: 100%;
  }

  .myName {
    margin-top: 20%;
    text-align: center;
  }

  .web-developer {
    margin-top: 2%;
    text-align: center;
    font-size: 16px;
  }

  .comuter-header {
    background-color: #EEEEEE;
    height: 5%;
    width: 100%;
  }

  .computer-btn {
    width: 10px;
    height: 10px;
    margin: 2px;
  }
}
